<% if @user.nil? %>
  Invalid username, enter a last.fm username.
  <%= link_to "Try Again", home_url %>
  <%= link_to "Join Last.fm!", "http://www.last.fm/" %>
<% else %>

<div id="user-info">
<div id="user-profile">
  <span id="name-style"><%= @user.username %>'s</span> top five <br />
  <span id="ranked-by-playcount">*ranked by playcounts</span>
</div>
<div id="top-five">

<ol>
<% sum = 0 %>
<% @user.artist_to_playcount_hash.first(5).each do |artist, playcount| %>
  <li><%= artist %> <span id="playcount"><%= playcount %></span></li>
  <% sum += playcount %>
<% end %>
<ol>
</div>

</div>

<div id="friends-list">

<table>
  <th>friends</th>
  <th>shared artists</th>
  <tr>
  <% unless @user_friends.nil? %>
  <% @user_friends.reverse.each do |friend_hash| %>
      <td>
      <a href="/compare/<%= @user.username%>/<%= friend_hash['name']%>">
        <%= friend_hash['name'] %>
      </td>
      <div id="number">
      <td>
        <%= friend_hash['shared_artists'] %>
      </td>
      </div>
      </a>
    </tr>
  <% end %>
</table>
</div>
<% end %>
<% end %>



