<% if @user.nil? %>
  Invalid username, enter a last.fm username.
  <%= link_to "Try Again", home_url %>
  <%= link_to "Join Last.fm!", "http://www.last.fm/" %>
<% else %>
<h2> Check out <%= @user.username %> on last.fm</h2>

<% @user.artist_to_playcount_hash.each do |artist, playcount| %>
  <%= artist %><%= playcount %>
<% end %>


<table>
  <% unless @user_friends.nil? %>
  <% @user_friends.reverse.each do |friend_hash| %>
  <tr>
    <td>
      <img src="<%= friend_hash['image'][2]['#text'] %>">
    </td>
    <td>
      <a href="/compare/<%= @user.username%>/<%= friend_hash['name']%>">
        <%= friend_hash['name'] %>
        <%= friend_hash['shared_artists'] %>
      </a>
    </td>
  </tr> 
  <% end %>
</table>
<%= link_to "Feedback", comment_form_url %>
<% end %>
<% end %>



